
<br><br><br>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <h2>Dr. Rashid Margalepeduoneno PhD.</h2>
    <p>
      Desde el año 2010 luego de 6 años de estudios exaustivos en la Universidad de Gaziantep y numersos cursos de actualización. Puedo decir que ya me encuentro en condiciones de poder brindar a la comunidad la atención que realmente necesita.
    </p>
    <h4>Especialidades</h4>
    <ul>
      
      <li>
        Acomodamiento de visceras por abordaje telepático.
      </li>
      <li>
        Restitución del ánimo mediante baños termostatizados. 
      </li>
      <li>
        Reagrupación de neuronas vía endoscópicas
      </li>
      <li>
        Retroalimentación de memoria mediante estimulación cricoidea.
      </li>
    </ul>

  </div>
  <div class="col-md-3">
   <img class="rounded" src="https://i.prcdn.co/img?regionKey=cJHtOwNoiwfLf6ZwQhUcKw%3D%3D" alt="">
 </div>
</div>




