<br>
<br>
<br>
<form [formGroup]="frmConsultaMedica" (ngSubmit)="guardar()" class="m-3 col-lg-6">

    <div class="form-group">
      <label for="">nombre</label>
      <input type="text" id="nombre" formControlName="nombre" class="form-control" placeholder="nombre" aria-describedby="helpId">
    </div>
    <div *ngIf="frmConsultaMedica.controls['nombre'].invalid && (frmConsultaMedica.controls['nombre'].dirty || frmConsultaMedica.controls['nombre'].touched)" class="warning warning-alert">
      <div *ngIf="frmConsultaMedica.controls['nombre'].errors">
      Nombre Requerido
    </div>
    
  </div>

    <div class="form-group">
      <label for="">apellido</label>
      <input type="text" name="" id="" formControlName="apellido" class="form-control" placeholder="apellido" aria-describedby="helpId">
    </div>
    
    <div class="form-group">
      <label for="">correo</label>
      <input type="text" name="" id="" class="form-control" formControlName="correo" placeholder="correo" aria-describedby="helpId">
    </div>


    <div class="form-group">
      <label for="">tipo_practica</label>
      <input type="text" name="" id="" class="form-control" formControlName="tipo_practica" placeholder="tipo_practica" aria-describedby="helpId">
    </div>


    <div class="form-group">
      <label for="">descripcion</label>
      <input type="text" name="" id="" class="form-control" formControlName="descripcion" placeholder="descripcion" aria-describedby="helpId">
    </div>

    <button type="submit" [disabled]="!frmConsultaMedica.valid" class="btn btn-primary">Enviar</button>

    
    {{frmConsultaMedica.value | json}}
    {{frmConsultaMedica.controls['nombre'].errors | json}}
  
</form>